{{ define "main" }}
  <div class="page">
    <div class="content-container">
      <div class="content">
        {{ range (.Site.RegularPages).ByDate.Reverse }}
            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a> 
              | <time>{{ .Date.Format "01/02/2006" }}</time>
              | <time>{{ .Params.Meta.Theme }}</time>
              | <time>{{ .Params.Meta.Series }}</time>
            </li>
        {{ end }}
      </div>
      <div class="right-nav">
        octetz is software and systems engineering content by Josh Rosso.
        Content pages can be <a>opinions</a>, <a>guides</a>, and
        <a>references</a> Related content may be grouped in a <a>series</a>.
    </div>
  </div>
{{ end }}
