{{ define "main" }}
  <div class="page">
    <div class="content-container">
      <div class="left-spacer-for-list">
      </div>
      <div class="list-content">
        {{ range (.Site.RegularPages).ByDate.Reverse }}
        <div class="link-container">
          <div class="link-title-container">
            <div class="title">
              {{ .Date.Format "01/02/2006" }}:
              <a href="{{ .RelPermalink }}">
                {{ if isset .Params.Meta "series" }}
                  {{ .Params.Meta.Series }}:
                {{ end }}
                {{ .LinkTitle }}
              </a>
            </div>
          </div>
        </div>
          {{ end }}
      </div>
      <div class="right-nav">
        octetz is software and systems engineering site containing references, guides, and
        <a>opinions</a>.
    </div>
  </div>
{{ end }}
