html,
body {
  margin: 0;
}


h1,
h2,
h3 {
  padding-bottom: 10px;
  border-bottom: thin solid #e2e4e8;
}

@font-face {
  font-family: light15;
  src: url("book-19.woff") format("woff");
}
@font-face {
  font-family: jbm;
  src: url("jetbrains-mono.woff2") format("woff2");
}


body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  font-family: light15,sans-serif;
}

.header {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  justify-content: center;
}

.content-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  margin-right: 10px;
  width: 175px;
  height: 300px;
}

.nav-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-nav {
  margin-left: 10px;
  position: sticky;
  top: 10px;
  width: 175px;
  height: 300px;
}

.right-nav ul {
  font-size: 12px;
  list-style-type: decimal;
  padding-inline-start: 1rem;
}

.right-nav ul li {
  line-height: 1.4;
  margin-bottom: 14px;
}

.content {
  min-width: 100px;
  max-width: 800px;
  padding: 0px 10px 0px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e4e8;
}

p.toc-title {
  padding-bottom: 14px;
  font-weight: 800;
  border-bottom: thin solid #e2e4e8;
}

pre {
  overflow-x: auto;
  margin: 0;
  padding: 1rem;
  word-wrap: break-word;
  color: #000;
  background-color: #f5f5f5;
  border-radius: .8rem;
}

code {
  font-size: 14px;
  font-family: jbm,monospace;
  word-wrap: break-word;
  color: #000;
  background-color: #f5f5f5;
}

@media (max-width: 1200px) {
  .left-nav {
    width: 50px;
  }
}

@media (max-width: 1075px) {
  .left-nav {
    display: none;
  }
}

@media (max-width: 1015px) {
  .right-nav {
    display: none;
  }
  .content-container {
    justify-items: center;
    width: auto;
  }
  .content {
    border-width: 0;
  }
}

svg {
  font-family: jbm,monospace;
}